<div class="toolbar" role="banner" *ngIf="isMenuVisible">
    <h2 style="margin-left: 10px;">LOAN-MANAGEMENT</h2>
    <div class="spacer"></div>
    <a routerLink="home"></a>
    <a routerLink="createLoan">Create Loan</a>
    <a routerLink="login">Logout</a>
</div>
<div class="toolbar" role="banner" *ngIf="isUserMenuVisible">
    <h2 style="margin-left: 10px;">LOAN-MANAGEMENT</h2>
    <div class="spacer"></div>
    <a routerLink="homeUser"></a>
    <a routerLink="login">Logout</a>
</div>
<div class="content" role="main">
    <router-outlet></router-outlet>
</div>